 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 html,body {
    width: 100%;
    height: 100%;
 }

 @mixin flexcenter{
     display: flex;
    justify-content: center;
    align-items: center;
 }

 div {
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;

    h1 {
        color: orange;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        span {
            color: salmon;
            font-style: italic;
            text-decoration: none;
          cursor: pointer;

            &:hover {
                text-decoration: underline;

                 
            }
        }
    }
 }